<!DOCTYPE HTML>
<html>
<head>
<title>AniList</title>
<link rel="stylesheet" href="/public/style.css">
</head>
<body>
<nav>
<b>AniList</b>
</nav>
<div class="center">
<button class="btn" onclick="addEntity()"> <b>Add to List</b> </button>
</div>

<div class="form-popup" id="createNewEntity">
	<form action="/addtoList" class="form-container" method="post">
	<span class="close" id="close">&times;</span>
	<h2 style="text-align: center;">Add Entity</h2>
	<br>
		<label for="title">Title<label><br>
			<input type="text" id="title" name="title"><br>
		<label for="engTitle">English Title<label><br>
			<input type="text" id="engTitle" name="engTitle"><br>
		<label for="seasons">Seasons<label><br>
			<input type="number" id="seasons" name="seasons" min="1" max="99"><br>
		<label for="eps">Episodes<label><br>
				<input type="number" id="eps" name="eps" min="1" max="9999"><br>
		<label for="status">Status<label><br>
			<select name="status" id="status" name="status">
			<option value="Not Started">Not Started</option>
				<option value="Watching">Watching</option>
				<option value="Finished">Finished</option>
				<option value="Dropped">Dropped</option>
				
			</select><br>
		<label for="dateStarted">Date Started<label><br>
			<input type="date" id="dateStarted" name="dateStarted"><br>
		<label for="dateFinished">Date Finished<label><br>
			<input type="date" id="dateFinished" name="dateFinished"><br>
		<button type="submit" class="btn">Submit</button>
		</form>
</div>
<div class="form-popup" id="updateEntity">
	
	<form action='' id="update-form" class="form-container" method="post">
	<span class="close" id="shut">&times;</span>
	<h2 style="text-align: center;">Update Anime</h2>
		<input style="display:none;" id="cID" name="id"><br>
	<label for="title">Title<label><br>
		<input type="text" id="cTitle" name="title"><br>
	<label for="engTitle">English Title<label><br>
		<input type="text" id="cengTitle" name="engTitle"><br>
	<label for="seasons">Seasons<label><br>
		<input type="number" id="cseasons" name="seasons" min="1" max="99"><br>
	<label for="eps">Episodes<label><br>
			<input type="number" id="ceps" name="eps" min="1" max="9999"><br>
	<label for="status">Status<label><br>
		<select name="status" id="cstatus">
			<option value="Not Started">Not Started</option>
				<option value="Watching">Watching</option>
				<option value="Finished">Finished</option>
				<option value="Dropped">Dropped</option>
		</select><br>
	<label for="dateStarted">Date Started<label><br>
		<input type="date" id="cdateStarted" name="dateStarted"><br>
	<label for="dateFinished">Date Finished<label><br>
		<input type="date" id="cdateFinished" name="dateFinished"><br>
	<button type="submit" class="btn">Update</button>
	</form>
</div>
<div class="form-popup" id="deleteEntity">
	<form action='/delete' class="form-container" method="post">
		<input type="hidden" name="_method" value="delete">
		<span class="close" id="down">&times;</span>
		<h2 style="text-align: center;">Delete Anime</h2>
		<input style="display:none;" id="dID" name="id"><br>
		<p id="deletequery"></p>
		<button type="submit" class="btn">Delete</button>
	</form>
</div>

<div>
	<table>
		<thead>
			<tr>
				<th style="width: 40px;">#</th>
				<th>Title</th>
				<th>English Title</th>
				<th style="width: 40px;">Seasons</th>
				<th style="width: 40px;">Episodes</th>
				<th style="width: 40px;">Status</th>
				<th style="width: 40px;">Date Started</th>
				<th style="width: 40px;">Date Finished</th>
				<th style="width: 30px;">Modify</th>
			</tr>
		</thead>
		<tbody id="theList">
			<% if(data.length > 0){ for(var i=0;i<data.length;i++) {%>
				<tr id=row<%= data[i].id%>>
				  <th scope="row"><%= (i+1) %></th>
				  <td><%= data[i].title%></td>
				  <td><%= data[i].engTitle%></td>
				  <td><%= data[i].seasons%></td>
				  <td><%= data[i].eps%></td>
				  <td><%= data[i].status%></td>
				  <td><%= data[i].dateStarted.toLocaleDateString()%></td>
				  <td><%= data[i].dateFinished.toLocaleDateString()%></td>
				  <td>
					<button class='btn' onclick="updateEntity('row<%= data[i].id%>')"><b>Update</b></button>
					<button class='btn' onclick="deleteEntity('row<%= data[i].id%>')"> <b>Delete</b></button>
				  </td>
				</tr>
			<% } }else{ %> 
				<tr>
					<td>Empty. Why don't you put something?</td>
					<td><img src="/public/assets/yamada-ryou.gif" alt="empty"></td>
				</tr>
			<% }  %> 
		</tbody>
	</table>
</div>
<script src="/public/js/form.js"></script>
<script src="/public/js/query.js"></script>

</body>
</html>